on:
  pull_request:
  push:
jobs:
  test:
    runs-on: "ubuntu-22.04"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        java:
        - 11
        - 25
    steps:
    - uses: actions/checkout@v5
    - uses: sbt/setup-sbt@v1
    - uses: actions/setup-java@v5
      with:
        java-version: "${{matrix.java}}"
        distribution: zulu
        cache: sbt
    - run: sbt scalafmtSbt "+ scalafixAll" "+ scalafmtAll"
    - run: git diff --exit-code
    - uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.19.0
      if: failure()
      with:
        tool_name: scala
        fail_on_error: true
    - uses: bytecodealliance/actions/wasmtime/setup@6aecabac1eb1dcf7ed94ba9471974415ee2ebef2 # v1.1.2
    - run: wasmtime --version
    - run: node --version
    - run: npm --version
    - run: sbt "+ test" scripted
